* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 120rem;
  font-family: sans-serif;
  margin: 0 auto;
  color: #343a40;
  font-size: 2rem;
}

.header {
  padding: 0.5rem;
  background-color: #fff4e6;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 1rem;
}

nav {
  width: 50%;
}
.nav_ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: #343a40;
  padding: 0.5rem 1rem;
  border: #e8590c solid 0.2rem;
  border-radius: 2rem;
}

a:active,
a:visited {
  color: #343a40;
}

a:hover {
  background-color: #e8590c;
  color: #fff;
}

.about {
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: #ffe8cc;
}

.photo_img {
  width: 30%;
  border-radius: 10rem;
}
